body {
    margin: 0;
    padding: 0;
    background: black;
}

h1 {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    margin: 0 0 10vh 0;
    opacity: 0.8;
}

h1 img {
    height: 30vh;
}